* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}
/* Page header with search field and buttons */
header {
    grid-column: 2 / 3;
    grid-row: 1;
}

/* Sidebar with nav */
.sidebar {
    grid-column: 1;
    grid-row: 1 / 3;
    background-color: lightskyblue;
    padding: 15px;
}

.sidebar p {
    margin: 0;
    font-size: clamp(1.3rem, 2vw, 2rem);
}

.sidebar ul {
    list-style-type: none;
    padding: 25px 0;
    margin: 0;
}

.sidebar ul li {
    padding: 0.6ch;
    font-size: clamp(1rem, 1.6vw, 1.5rem);
}

.sidebar ul li:nth-child(7) {
    margin-top: 20px;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}